main {
  margin: none;
  padding: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* adds margin */
.main {
  margin-top: 12vh;
}

/* creates a card as a grid with 3 rows */
.element {
  margin: auto;
  margin-top: 25px;
  display: grid;
  grid-template-rows: 15vh 65vh 70%;
  width: 55%;
  grid-template-areas: "title" "image" "text";
  border-radius: 18px;
  background: whitesmoke;
  box-shadow: 15px 15px 15px rgba(0.1,0.1,0.1,0.1);
  text-align: center;
}

/* defines where in the grid it goes */
h1 {
  grid-area: title;
  display: flex;
  justify-content: center;
  align-items: center;
  color: dodgerblue;
  border-bottom: 4px solid lightslategrey;
  font-size: 32px;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* defines where in the grid it goes */
.image {
  grid-area: image;
  background-size: cover;
}

/* defines where in the grid it goes */
.facts {
  grid-area: text;
  text-align: center;
  padding: 0;
  color: lightslategray;
  padding: 20px;
}
